In [3]:
import pandas as pd
import scipy 
import numpy as np 
from scipy import stats
from scipy.stats import f_oneway
from scipy.stats import chi2_contingency 
import collections
from collections import Counter

### problem1

In [12]:
cutlet_data = pd.read_csv("C:/Users/DELL/Downloads/assignment/hypothesis assignment/Cutlets.csv") ##read data

In [15]:
unit_a_array= cutlet_data["Unit A"].values    ## fetch data from excel and convert to array 
unit_b_array= cutlet_data["Unit B"].values

In [20]:
print(unit_a_array)
print(unit_b_array)

[6.809  6.4376 6.9157 7.3012 7.4488 7.3871 6.8755 7.0621 6.684  6.8236
 7.393  7.5169 6.9246 6.9256 6.5797 6.8394 6.597  7.2705 7.2828 7.3495
 6.9438 7.156  6.5341 7.2854 6.9952 6.8568 7.2163 6.6801 6.9431 7.0852
 6.7794 7.2783 7.1561 7.3943 6.9405]
[6.7703 7.5093 6.73   6.7878 7.1522 6.811  7.2212 6.6606 7.2402 7.0503
 6.881  7.4059 6.7652 6.038  7.1581 7.024  6.6672 7.4314 7.307  6.7478
 6.8889 7.422  6.5217 7.1688 6.7594 6.9399 7.0133 6.9182 6.3346 7.5459
 7.0992 7.118  6.6965 6.578  7.3875]

In [34]:

t_stat,p_value= scipy.stats.ttest_ind(unit_a_array,unit_b_array)
## we are checking mean diam of unit a = unit b  if they  are equal accept Ho otherwise reject

In [35]:
print("Test Statistic:", t_stat)
print("p-value:", p_value)

Test Statistic: 0.7228688704678063
p-value: 0.4722394724599501

In [36]:
aplha= 0.05
if p_value > aplha:
    print("accpet the null hypothesis as there is no change in both unit diameter")
else:
    print ("reject the null hypothesis as there is change in both unit diameter ")

accpet the null hypothesis as there is no change in both unit diameter

# problem 2

In [10]:
lab_data = pd.read_csv("C:/Users/DELL/Downloads/assignment/hypothesis assignment/labTaT.csv")

In [11]:
lab_1 = lab_data["Laboratory 1"].values
lab_2 = lab_data["Laboratory 2"].values
lab_3 = lab_data["Laboratory 3"].values
lab_4 = lab_data["Laboratory 4"].values

In [13]:
#analysis of more than 4 parameters 
f_stats,p_value = f_oneway(lab_1,lab_2,lab_3,lab_4)

In [15]:
print("f_statsvalue:",f_stats)
print("p_value:",p_value)

f_statsvalue: 118.70421654401437
p_value: 2.1156708949992414e-57

In [47]:
alpha=0.05
if p_value>0.05:
    print("accpet null hypothesis as TAT time is not differant for labs listed on preferred list")
else:
    print("reject null hypothesis TAT time is change for labs listed on preferred list ")

reject null hypothesis TAT time is change for labs listed on preferred list

# problem 3

In [24]:
buyer_ratio=pd.read_csv("C:/Users/DELL/Downloads/assignment/hypothesis assignment/BuyerRatio.csv")
observed_values=buyer_ratio.to_numpy()
print(observed_values)

In [33]:
chi2_stat, p_value, dof, expected = chi2_contingency(observed_values)
print("chi2_stat_value:",chi2_stat)
print("p_value:",p_value )
alpha = 0.05
if p_value > 0.05 :
    print("accpet the null hypothesis as the their is no change in ratio i.e male female ratio are same acrross region")
else:
    print("reject null hyothesis , as the ratio's are not same in all regions")

chi2_stat_value: 1.595945538661058
p_value: 0.6603094907091882
accpet the null hypothesis as the their is no change in ratio i.e male female ratio are same acrross region

# problem 4

In [75]:

customer_order_form = pd.read_csv("C:/Users/DELL/Downloads/assignment/hypothesis assignment/Costomer+OrderForm.csv")

customer_order_form.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [76]:
customer_order_form.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [77]:
customer_order_form.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [86]:
missing_rows=customer_order_form.isnull().any(axis=1)

In [88]:
filtered_order=customer_order_form[missing_rows]

In [89]:
print(filtered_order)

Empty DataFrame
Columns: [Phillippines, Indonesia, Malta, India]
Index: []

In [90]:
customer_order_form.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [91]:
print(customer_order_form['Phillippines'].value_counts(),
      '\n',
     customer_order_form['Indonesia'].value_counts(),
     '\n',
     customer_order_form['Malta'].value_counts(),
      '\n',
      customer_order_form['India'].value_counts(),
      '\n')

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [12]:
contingency_table =[[271,267,269,280], [29,33,31,20]]
print(contingency_table)

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [13]:
chi2_stat, p_value, df, expected = chi2_contingency(contingency_table)
print("chi2_stat_value:",chi2_stat)
print("p_value:",p_value )
print("degree of freedom:", df)
print("expected freq:", expected)

chi2_stat_value: 3.858960685820355
p_value: 0.2771020991233135
degree of freedom: 3
expected freq: [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [14]:
observed =np.array([271, 267, 269, 280,29, 33, 31, 20])
expected = np.array ([271.75, 271.75, 271.75, 271.75, 28.25 , 28.25 ,28.25 , 28.25])

In [18]:
test_statistics, p_value = stats.chisquare(observed,expected,ddof = df)
print("test_statistics:",test_statistics,"\n","p_value:",p_value)

test_statistics: 3.858960685820355
 p_value: 0.4254298144535761

In [19]:
alpha = 0.05
if p_value > 0.05 :
    print("accpet the null hypothesis as there is no significant difference in defective percentages among the four centers or.")
else:
    print("reject null hyothesis , there is no significant difference")

accpet the null hypothesis as there is no significant difference in defective percentages among the four centers or.